* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --w-panel:80px;
}

#game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.panel {
    background-color: cadetblue;
    height: var(--w-panel);

    display: flex;
    justify-content: center;
    align-items: center;
}

.panel span {
    font-size: 1.5rem;
    color: white;
}
.pause {
    background-color: red;
}
.elements {
    width: 100%;
    height: calc(100% - var(--w-panel));
    position: relative;
}

.elements > div {
    position: absolute;
}
.player {
    background-color: brown;
    border-radius: .5rem;
}

.ball {
    background-color: cadetblue;
    border-radius: 50%;
}

.block {
    background-color: chocolate;
}